<%- include('header.ejs', { pageTitle: 'Create user page' }) %>
    <div class="form-create-new-user">
        <form action="/store-user" method="post">
            <fieldset>
                <legend>Create new user</legend>
                <div class="input-group">
                    <label>Email: </label>
                    <input type="text" name="email">
                </div>
                <div class="input-group">
                    <label>Name: </label>
                    <input type="text" name="name">
                </div>
                <div class="input-group">
                    <label>City: </label>
                    <input type="text" name="city">
                </div>
                <div>
                    <button>Save</button>
                </div>
            </fieldset>
        </form>

    </div>
    <%- include('footer.ejs') %>