<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= pageTitle %>
    </title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="topnav">
        <a href="/" class="<%= pageName === 'home' ? 'active' : '' %>">Home</a>
        <a href="/show-user" class="<%= pageName === 'showUser' ? 'active' : '' %>">Show User</a>
        <a href="/create-user" class="<%= pageName === 'createUser' ? 'active' : '' %>">Create User</a>
    </div>