<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/show-user">Show User</a>
        <a href="/create-user">Create User</a>
    </div>
    <div>
        <h1>Wellcome to my Website</h1>
    </div>
</body>

</html>